<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spacesociety">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/s3v_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name=".FirstScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuGrid"
            android:label="@string/title_activity_menu_grid" />
        <activity
            android:name=".WebActivity"
            android:label="@string/title_activity_website__avtivity" />
        <activity
            android:name=".PdfLibrary"
            android:label="@string/title_activity_pdf_library" />
        <activity
            android:name=".Mp3Library"
            android:label="@string/title_activity_main"></activity>
        <activity
            android:name=".PlayMp3"
            android:label="@string/title_activity_play_mp3"></activity>
    </application>

</manifest>
